{
    "usingAuth": false,
    "sequelize": {
        "logging": true
    },
    "app": {
        "debug": true
    },
    "port": 3000,
    "ajax": {
        "origins" : [
            "http://localhost:9000",
            "http://localhost:3001",
            "http://localhost:3002"
        ]
    }
}